*.swp
*.o
*.P
ui_*.h
release/
debug/
GeoJackal
geojackal
Makefile*
*.ncb
*.sln
*.suo
*.vcproj*
*.aps
*.exe
*.dll
*.pdb
*.idb
.settings/org.eclipse.ltk.core.refactoring.prefs
map-cache/
callgrind.out.*
*.sqlite
