#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

 VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,0,1
 PRODUCTVERSION 0,0,0,1
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Roland Hieber"
            VALUE "FileDescription", "GeoJackal, a geocache management application"
            VALUE "FileVersion", "0.0.0.1"
            VALUE "LegalCopyright", "Copyright (C) 2010 Roland Hieber"
            VALUE "ProductName", "GeoJackal"
            VALUE "ProductVersion", "0.0.0.1"
			VALUE "OriginalFilename", "GeoJackal.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ICON1                   ICON                    "geojackal.ico"
